# Example environment variables for public repo (DO NOT commit real secrets here)
JWT_SECRET=
GATEWAY_INTERNAL_TOKEN=
DB_USERNAME=
DB_PASSWORD=
POSTGRES_PASSWORD=
GF_SECURITY_ADMIN_PASSWORD=
SPRING_SECURITY_USER_PASSWORD=
